---
import MainLayout from '../../layouts/MainLayout.astro'

import { getAllGallery } from '../../sanity/api'

export async function getStaticPaths() {
    const gallery = await getAllGallery();
    return gallery.map(gallery => ({ params: { slug: gallery.slug.current }, props: { gallery } }));
};

const { gallery } = Astro.props
---

<MainLayout title="IKAMO[LOG] | Gallery">
    <main data-taxi-view>

        <div class="gallery-view-title flex justify-center align-center justify-between">
            <p class="text-light index gallery-view-bracket">[</p>
            <h1 class="gallery-view-title-text text-light caption-bold">{gallery.name}</h1>
            <p class="text-light index gallery-view-bracket">]</p>
        </div>

        
    </main>
</MainLayout>