---
import MainLayout from '../../layouts/MainLayout.astro'
import { PortableText } from "astro-portabletext";
import Image from "../../components/PortableImage.astro";

import { getAllGallery } from '../../sanity/api'

export async function getStaticPaths() {
    const gallery = await getAllGallery()
    return gallery.map(gallery => ({ params: { slug: gallery.slug.current }, props: { gallery } }))
};

const { gallery } = Astro.props

const components = {
    type: {
        image: Image
    }
};
---

<MainLayout title={"IKAMO[LOG] | " + gallery.name}>
    <main data-taxi-view class="gallery-view">

        <div class="gallery-view-title flex justify-center align-center justify-between">
            <p class="text-light index gallery-view-bracket">[</p>
            <h1 class="gallery-view-title-text text-light caption-bold">{gallery.name}</h1>
            <p class="text-light index gallery-view-bracket">]</p>
        </div>

        <PortableText
            value={gallery.supportingImages}
            components={components}
        />
    </main>
</MainLayout>