.about-container{
    height: 100dvh;
    padding: 0px 240px;
    float: left;
}

.about-section-one{
    min-width: 600px;
}

.about-section-two{
    margin: 0px 0px 0px 420px;
    min-width: 400px;
}

.about-section-three{
    margin: 0px 0px 0px 240px;
    min-width: 400px;
}

.about-text{
    padding: 200px 0px;
}

.about-paragraph{
    max-width: 400px;
}