.about-container{
    height: 100dvh;
    padding: 0px 60px 0px 240px;
    float: left;
    overflow-y: hidden;
}

.about-section-one{
    min-width: 600px;
}

.about-section-two{
    margin: 0px 0px 0px 420px;
    min-width: 400px;
}

.about-section-three{
    margin: 0px 0px 0px 160px;
    min-width: 400px;
}

.about-section-four{
    margin: 0px 0px 0px 100px;
}

.about-section-five{
    margin: 0px 0px 0px 240px;
    min-width: 400px;
}

.about-section-six{
    margin: 0px 0px 0px 800px;
    min-width: 400px;
}

.about-text{
    padding: 200px 0px;
}

.about-paragraph{
    max-width: 400px;
}

.about-links{
    opacity: .5;
    transition: opacity .5s ease;
}

.about-links:hover{
    opacity: 1;
}

.about-button-container{
    position: relative;
    width: auto;
    overflow: hidden;
}

.about-image{
    opacity: .5;
}

.about-image-1{
    width: 300px;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 640px;
}

.about-image-2{
    width: 400px;
    position: absolute;
    top: 0;
    left: 1100px;
}

.about-image-3{
    width: 400px;
}

.about-image-4{
    width: 360px;
    position: absolute;
    top: 0;
    left: 3460px;
}

.about-image-5{
    width: 400px;
}

// Responsive
@media screen and (max-width: 1280px){
    .about-container{
        padding: 0px 60px 0px 200px;
    }
}
@media screen and (max-width: 1024px){
    .about-container{
        padding: 0px 36px 0px 200px;
    }
}
@media screen and (max-width: 768px){
    .about-container{
        padding: 0px 0px 0px 36px;
    }
    .about-image-1{
        left: 240px;
    }
    .about-image-2{
        left: 520px;
    }
    .about-image-4{
        left: 2800px;
    }
    .about-section-two{
        margin: 0px 0px 0px 120px;
    }
    .about-section-four{
        margin: 0px 0px 0px 60px;
    }
    .about-section-six{
        margin: 0px 0px 0px 480px;
    }
    .about-paragraph{
        max-width: 280px;
    }
}
@media screen and (max-height: 720px){
    .about-text{
        padding: 100px 0px;
    }
}