.gallery-link{
    width: 420px;
    height: 420px;
    position: absolute;
    transform-origin: center;
    border-radius: 100%;
    display: flex;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    transform-origin: center;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    // background-color: #ffffff20;
}

.gallery-title{
    max-width: 240px;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease;
    user-select: none;
    pointer-events: none;
}

.gallery-bracket{
    height: auto;
    opacity: 0;
    transition: opacity 1s ease;
    user-select: none;
    pointer-events: none;
    overflow: visible;
}

.gallery-link:hover .gallery-title{
    opacity: 1;
}

.gallery-link:hover .gallery-bracket{
    opacity: .2;
}

.temp-disabled{
    pointer-events: none;
}

.gallery-view-title{
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 240px;
    text-align: center;
}

.gallery-view-title-text{
    width: 120px;
}

.gallery-view-bracket{
    opacity: .2;
}

.gallery-images{
    opacity: 0;
}

.gallery-navigation{
    position: absolute;
    bottom: 60px;
    left: 50%;
    translate: -50% 0%;
    width: 240px;
    z-index: 999999;
}

// Responsive
@media screen and (min-width: 1920px){
    .gallery-link{
        width: 560px;
        height: 560px;
    }
}
@media screen and (max-width: 1280px){
    .gallery-link{
        width: 360px;
        height: 360px;
    }
}
@media screen and (max-width: 1024px){

    .gallery-view-title{
        display: none;
    }
    .gallery-navigation{
        left: 36%;
        bottom: 40px;
        width: 160px;
    }
}
@media screen and (max-width: 768px){
    .gallery-view-title{
        display: none;
    }

    .gallery-navigation{
        left: 50%;
        bottom: 50%;
        width: 80%;
    }
}