.insight-link{
    width: 60%;
    position: absolute;
    transform-origin: center;
    display: flex;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    transform-origin: center;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    // background-color: #ffffff20;
}

.insight-bracket{
    opacity: .1;
}

.insight-title{
    width: 520px;
    text-align: left;
}

// ================= INSIGHTS HTML CONTENT =================

.insight-container{
    height: 100dvh;
    padding: 180px 0px;
    float: left;
    overflow-y: hidden;
}

.insights-title{
    min-width: 500px;
}

.insight-image{
    min-width: 1200px;
    max-height: 100vmin;
    object-fit: cover;
    object-position: center;
}

.content-container{
    height: 100%;
}