.insight-link{
    width: 60%;
    position: absolute;
    transform-origin: center;
    display: flex;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    transform-origin: center;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    // background-color: #ffffff20;
}

.insight-bracket{
    opacity: .5;
}

.insight-title{
    width: 520px;
    text-align: left;
}