.insight-link{
    width: 60%;
    position: absolute;
    transform-origin: center;
    display: flex;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    transform-origin: center;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    // background-color: #ffffff20;
}

.insight-bracket{
    opacity: .1;
}

.insight-title{
    width: 520px;
    text-align: left;
}

// ================= INSIGHTS HTML CONTENT =================

.insight-container{
    height: 100dvh;
    padding: 180px 0px;
    float: left;
    overflow-y: hidden;
}

.insight-title-container{
    min-width: 600px;
}

.insight-image{
    min-width: 1280px;
    object-fit: cover;
    object-position: center;
}

.content-container{
    height: 100%;
    padding-right: 60px;
}

.insight-content-image{
    min-width: 1280px;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}

.insights-title{
    min-width: 400px;
    text-transform: uppercase;
    align-self: flex-end;
}

.insights-body{
    min-width: 400px;
    text-transform: uppercase;
}

.insight-list{
    min-width: 400px;
}

.insight-list-item{
    display: list-item;
    list-style: disc outside none;
    display: list-item;
    margin-left: 1em;
}

.insights-next-link{
    min-width: 800px;
    height: 100%;
    padding-left: 200px;
}

.insights-next-title{
    width: 600px;
    position: absolute;
    margin-left: -200px;
    margin-top: 480px;

    transition: transform .3s ease;
}

.insights-next-image{
    width: 600px;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.next-arrow{
    min-width: 60px;
}

.insights-next-link:hover > .insights-next-title{
    transform: translateX(24px);
}