.top-nav{
    position: fixed;
    padding: 60px;
    z-index: 2000;
}

.site-description{
    max-width: 320px;
    margin-left: 120px;
}

.mid-nav{
    position: fixed;
    left: 48px;
    top: 50%;
    translate: 0% -50%;
    z-index: 2000;
    display: flex;
}

.active-arrow{
    width: 2px;
    height: 2px;
    background-color: #fff;
    opacity: 0;
    transition: opacity .5s ease;
}

.active-nav{
    opacity: 1;
    transition: opacity .5s ease;
    pointer-events: none;
}

.active-nav > .active-arrow{
    opacity: 1;
    transition: opacity .5s ease;
    pointer-events: none;
}

.bottom-nav{
    width: 100dvw;
    position: fixed;
    padding: 0px 60px;
    bottom: 60px;
    z-index: 2000;
}

.socials{
    display: flex;
    margin-right: 120px;
}

.not-found-button{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.audio-toggle{
    position: absolute;
    top: 66px;
    right: 66px;
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    border-radius: 100%;
    z-index: 2000;
}

.audio-toggle-overlay{
    position: absolute;
    top: 60px;
    right: 60px;
    width: 20px;
    height: 20px;
    background-color: #ffffff20;
    border-radius: 100%;
    transform-origin: center;
    z-index: 2000;
}

.audio-toggled{
    animation-name: audio-toggled;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.mobile-nav-button{
    display: none;
    position: fixed;
    top: 36px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3001;
}

.mobile-nav{
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(36, 37, 75, 0.5);
    backdrop-filter: blur(1vmax);
    display: none;
    z-index: 3000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    opacity: 0;
    transition: opacity 1s ease;
}

.mobile-nav-link{
    font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: .1rem;
    opacity: .5;
    mix-blend-mode: overlay;
}

@keyframes audio-toggled {
    0% {
        transform: scale(.8);
    }
    50%{
        transform: scale(1);
    }
    100% {
        transform: scale(.8);
    }
}

// Responsive 
@media screen and (max-width: 1280px){
    .site-description{
        margin-left: 60px;
    }
    .socials{
        margin-right: 60px;
    }
}

@media screen and (max-width: 1024px){
    .site-description{
        margin-left: 36px;
    }
    .socials{
        margin-right: 36px;
    }
}
@media screen and (max-width: 768px){
    .top-nav{
        padding: 36px;
    }
    .mid-nav{
        display: none;
    }
    .bottom-nav{
        bottom: 36px;
        padding: 0px 36px;
    }
    .site-description{
        display: none;
    }
    .socials{
        display: none;
    }
    .audio-toggle{
        top: 42px;
        right: 42px;
    }
    .audio-toggle-overlay{
        top: 36px;
        right: 36px;
    }
    .mobile-nav-button{
        display: block;
    }
    .mobile-nav{
        display: flex;
    }
}