.top-nav{
    padding: 60px;
}

.site-description{
    max-width: 320px;
    margin-left: 120px;
}

.mid-nav{
    position: absolute;
    left: 48px;
    top: 50%;
    translate: 0% -50%;
}

.active-arrow{
    opacity: 0;
    transition: opacity .5 ease;
}

.active{
    opacity: 1;
    transition: opacity .5 ease;
}

.bottom-nav{
    width: 100dvw;
    position: absolute;
    padding: 0px 60px;
    bottom: 60px;
}

.socials{
    margin-right: 120px;
}