.hero{
    font-size: 12rem;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: .8rem;
}

.large-title{
    font-size: 6rem;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: .3rem;
}

.title{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: .3rem;
}

.subtitle-bold{
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: .1rem;
}

.subtitle-light{
    font-size: 2.3rem;
    font-weight: 300;
    line-height: 120%;
    letter-spacing: .1rem;
}

.index{
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 120%;
    letter-spacing: .1rem;
}

.body{
    font-size: 1rem;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: .1rem;
}

.caption-bold{
    font-size: .7rem;
    font-weight: 700;
    line-height: 120%;
}

.caption-light{
    font-size: .7rem;
    font-weight: 300;
    line-height: 120%;
}

.navigation-light{
    font-size: .7rem;
    font-weight: 300;
    line-height: 120%;
    letter-spacing: .1rem;
}

// Animation Track
.caption-track{
    max-height: .8rem;
    overflow: hidden;
}

.caption-move{
    transition: transform .3s ease;
}

.caption-bold:hover > .caption-track > .caption-move{
    transform: translateY(-.8rem);
}

.caption-light:hover > .caption-track > .caption-move{
    transform: translateY(-.8rem);
}