.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.justify-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

.align-end{
    align-items: end;
}

.gap-8{
    gap: 8px;
}