.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.justify-end{
    justify-content: end;
}

.align-center{
    align-items: center;
}

.align-end{
    align-items: end;
}

.gap-4{
    gap: 4px;
}

.gap-8{
    gap: 8px;
}

.gap-16{
    gap: 16px;
}

.gap-48{
    gap: 48px;
}

.gap-100{
    gap: 100px;
}

.no-wrap{
    flex-wrap: nowrap;
}

// Primary Button
.primary-button{
    padding: 4px 8px;
    border: dashed 1px rgba(255, 255, 255, .4);
    overflow: hidden;
}

.button-container{
    overflow: hidden;
}

.button-hidden-arrow{
    position: absolute;
    transform: translate(-24px);
}

.button-show-arrow{
    margin-left: 4px;
}

.button-move{
    transition: transform .3s ease;
}

.primary-button:hover > .button-move {
    transform: translateX(20px);
}

// Scroll Progress
.scroll-progress-container{
    position: absolute;
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%);
    width: 320px;
    height: 16px;

    border-right: 1px solid rgba(255, 255, 255, .1);

    background: repeating-linear-gradient(to left,
        rgba(255, 255, 255, .2), rgba(255, 255, 255, .2) 1px, transparent 1px, transparent 20px);
    background-position: 1px;
}

.scroll-progress-move{
    width: 80px;
}

// Cursor
.blob-container{
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    z-index: -1;
}

.blob{
    width: 520px;
    height: 520px;
    background-color: #96c0c2;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .1;
    z-index: -3;
    filter: blur(6vmax);
}

// Pre Loader
.loader-container{
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    background: url(/background_4.png) no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    z-index: 99999999;
    transition: all 1s ease;
}

.loader-bracket{
    opacity: .1;
}

#loader-move{
    transition: all .5s ease;
}

.audio-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    opacity: 0;
    transition: all 1s ease;
}

.audio-button{
    overflow: hidden;
}


// RESPONSIVE
@media screen and (max-width: 1024px){
    .gap-100{
        gap: 60px;
    }
    .scroll-progress-container{
        left: 40%;
        width: 160px;
    }
}
@media screen and (max-width: 768px){
    .gap-100{
        gap: 36px;
    }
    .scroll-progress-container{
        display: none;
    }
}