@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
.top-nav {
  position: fixed;
  padding: 60px;
  z-index: 9999;
}

.site-description {
  max-width: 320px;
  margin-left: 120px;
}

.mid-nav {
  position: fixed;
  left: 48px;
  top: 50%;
  translate: 0% -50%;
  z-index: 9999;
}

.active-arrow {
  width: 2px;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.5 ease;
}

.active {
  opacity: 1;
  transition: opacity 0.5 ease;
}

.bottom-nav {
  width: 100dvw;
  position: fixed;
  padding: 0px 60px;
  bottom: 60px;
  z-index: 9999;
}

.socials {
  margin-right: 120px;
}

.not-found-button {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.hero {
  font-size: 12rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.8rem;
}

.large-title {
  font-size: 6rem;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.3rem;
}

.title {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.3rem;
}

.subtitle-bold {
  font-size: 2rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.1rem;
}

.subtitle-light {
  font-size: 2rem;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 0.1rem;
}

.index {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 0.1rem;
}

.body {
  font-size: 1rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.1rem;
}

.caption-bold {
  font-size: 0.7rem;
  font-weight: 700;
  line-height: 120%;
}

.caption-light {
  font-size: 0.7rem;
  font-weight: 300;
  line-height: 120%;
}

.navigation-light {
  font-size: 0.7rem;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 0.1rem;
  opacity: 0.4;
  transition: opacity 0.5s ease;
}

.external-light {
  font-size: 0.7rem;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 0.1rem;
  opacity: 0.4;
  transition: opacity 0.5s ease;
}

.active {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.active > .active-arrow {
  opacity: 1;
}

.caption-track {
  max-height: 0.8rem;
  overflow: hidden;
}

.caption-move {
  transition: transform 0.5s ease;
}

.caption-bold:hover > .caption-track > .caption-move {
  transform: translateY(-0.8rem);
}

.navigation-light:hover {
  opacity: 1;
}

.navigation-light:hover > .active-arrow {
  opacity: 1;
}

.external-light:hover {
  opacity: 1;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}

.gap-48 {
  gap: 48px;
}

.no-wrap {
  flex-wrap: nowrap;
}

.primary-button {
  padding: 4px 8px;
  border: dashed 1px rgba(255, 255, 255, 0.4);
  overflow: hidden;
}

.button-container {
  overflow: hidden;
}

.button-hidden-arrow {
  position: absolute;
  transform: translate(-24px);
}

.button-show-arrow {
  margin-left: 4px;
}

.button-move {
  transition: transform 0.3s ease;
}

.primary-button:hover > .button-move {
  transform: translateX(24px);
}

.about-container {
  height: 100dvh;
  padding: 0px 240px;
  float: left;
  overflow-y: hidden;
}

.about-section-one {
  min-width: 600px;
}

.about-section-two {
  margin: 0px 0px 0px 420px;
  min-width: 400px;
}

.about-section-three {
  margin: 0px 0px 0px 160px;
  min-width: 400px;
}

.about-section-four {
  margin: 0px 0px 0px 160px;
}

.about-section-five {
  margin: 0px 0px 0px 240px;
  min-width: 400px;
}

.about-section-six {
  margin: 0px 0px 0px 800px;
  min-width: 400px;
}

.about-text {
  padding: 200px 0px;
}

.about-paragraph {
  max-width: 400px;
}

.about-links {
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

.about-links:hover {
  opacity: 1;
}

.about-button-container {
  position: relative;
  width: auto;
  overflow: hidden;
}

.about-image {
  opacity: 0.5;
}

.about-image-1 {
  width: 300px;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 560px;
}

.about-image-2 {
  width: 400px;
  position: absolute;
  top: 0;
  left: 1100px;
}

.about-image-3 {
  width: 400px;
}

.about-image-4 {
  width: 360px;
  position: absolute;
  top: 0;
  left: 3600px;
}

.about-image-5 {
  width: 400px;
}

.gallery-link {
  position: absolute;
  transform-origin: center;
  border-radius: 100%;
  display: flex;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  transform-origin: center;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.gallery-title {
  max-width: 240px;
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

.gallery-bracket {
  height: auto;
  opacity: 0;
  transition: opacity 1s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  overflow: visible;
}

.gallery-link:hover .gallery-title {
  opacity: 1;
}

.gallery-link:hover .gallery-bracket {
  opacity: 0.2;
}

.temp-disabled {
  pointer-events: none;
}

.gallery-view-title {
  position: absolute;
  top: 52px;
  left: 50%;
  transform: translateX(-50%);
  width: 240px;
  text-align: center;
}

.gallery-view-title-text {
  width: 120px;
}

.gallery-view-bracket {
  opacity: 0.2;
}

.gallery-images {
  opacity: 0;
}

* {
  box-sizing: border-box;
  text-rendering: geometricPrecision;
  overflow: hidden;
}

html {
  overflow-x: hidden;
}

.body {
  background-color: rgb(10, 9, 13);
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  text-rendering: geometricPrecision;
  overflow: hidden;
  cursor: default;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  cursor: pointer;
  text-align: left;
}

a {
  text-decoration: none;
  display: block;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  z-index: -1;
}

.gl {
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

::-moz-selection {
  background: rgb(255, 255, 255);
  color: rgb(11, 13, 16);
}

::selection {
  background: rgb(255, 255, 255);
  color: rgb(11, 13, 16);
}

/*width*/
::-webkit-scrollbar {
  width: 0px;
}

/*track*/
::-webkit-scrollbar-track {
  background: rgb(15, 27, 18);
}

/*thumb*/
::-webkit-scrollbar-thumb {
  background: rgb(19, 21, 22);
  border-radius: 100px;
}

body .transition {
  display: block;
}

.w-editor .transition {
  display: none;
}

.no-scroll-transition {
  overflow: hidden;
  position: relative;
}

.text-light {
  color: rgb(255, 255, 255);
}

.text-light-gray {
  color: rgba(255, 255, 255, 0.5);
}

.bg-light {
  background-color: rgb(255, 255, 255);
}

.bg-light-gray {
  background-color: rgba(255, 255, 255, 0.5);
}

.bg-dark {
  background-color: rgb(10, 9, 13);
}

.placeholder-title {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}/*# sourceMappingURL=style.css.map */