@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
.top-nav {
  padding: 60px;
}

.site-description {
  max-width: 320px;
  margin-left: 120px;
}

.mid-nav {
  position: absolute;
  left: 48px;
  top: 50%;
  translate: 0% -50%;
}

.active-arrow {
  opacity: 0;
}

.active {
  opacity: 1;
}

.bottom-nav {
  width: 100dvw;
  position: absolute;
  padding: 0px 60px;
  bottom: 60px;
}

.socials {
  margin-right: 120px;
}

.hero {
  font-size: 12rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.8rem;
}

.large-title {
  font-size: 6rem;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.3rem;
}

.title {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.3rem;
}

.subtitle-bold {
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.1rem;
}

.subtitle-light {
  font-size: 2.3rem;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 0.1rem;
}

.index {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 0.1rem;
}

.body {
  font-size: 1rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.1rem;
}

.caption-bold {
  font-size: 0.7rem;
  font-weight: 700;
  line-height: 120%;
}

.caption-light {
  font-size: 0.7rem;
  font-weight: 300;
  line-height: 120%;
}

.navigation-light {
  font-size: 0.7rem;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 0.1rem;
  opacity: 0.4;
  transition: opacity 0.5s ease;
}

.external-light {
  font-size: 0.7rem;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 0.1rem;
  opacity: 0.4;
  transition: opacity 0.5s ease;
}

.active {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.active > .active-arrow {
  opacity: 1;
}

.caption-track {
  max-height: 0.8rem;
  overflow: hidden;
}

.caption-move {
  transition: transform 0.5s ease;
}

.caption-bold:hover > .caption-track > .caption-move {
  transform: translateY(-0.8rem);
}

.navigation-light:hover {
  opacity: 1;
}

.external-light:hover {
  opacity: 1;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

.gap-8 {
  gap: 8px;
}

.primary-button {
  padding: 4px 8px;
  border: dashed 1px rgba(255, 255, 255, 0.4);
  overflow: hidden;
}

.button-hidden-arrow {
  position: absolute;
  transform: translate(-24px);
}

.button-show-arrow {
  margin-left: 4px;
}

.button-move {
  transition: transform 0.3s ease;
}

.primary-button:hover > .button-move {
  transform: translateX(24px);
}

* {
  box-sizing: border-box;
  text-rendering: geometricPrecision;
}

html {
  overflow-x: hidden;
}

.body {
  background-color: rgb(10, 9, 13);
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  text-rendering: geometricPrecision;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  cursor: pointer;
  text-align: left;
}

a {
  text-decoration: none;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  z-index: -1;
}

img {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

::-moz-selection {
  background: rgb(255, 255, 255);
  color: rgb(11, 13, 16);
}

::selection {
  background: rgb(255, 255, 255);
  color: rgb(11, 13, 16);
}

/*width*/
::-webkit-scrollbar {
  width: 0px;
}

/*track*/
::-webkit-scrollbar-track {
  background: rgb(15, 27, 18);
}

/*thumb*/
::-webkit-scrollbar-thumb {
  background: rgb(19, 21, 22);
  border-radius: 100px;
}

body .transition {
  display: block;
}

.w-editor .transition {
  display: none;
}

.no-scroll-transition {
  overflow: hidden;
  position: relative;
}

.text-light {
  color: rgb(255, 255, 255);
}

.text-light-gray {
  color: rgba(255, 255, 255, 0.5);
}

.bg-light {
  background-color: rgb(255, 255, 255);
}

.bg-light-gray {
  background-color: rgba(255, 255, 255, 0.5);
}

.bg-dark {
  background-color: rgb(10, 9, 13);
}

.placeholder-title {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}/*# sourceMappingURL=style.css.map */