---
/* @/portabletext/Image.astro */
import type { Props as $, TypedObject } from "astro-portabletext/types";
import Image, {type Props as ImageProps} from "./InsightsImage.astro";
import Title, {type Props as TextProps} from './InsightsTitle.astro'

export type Props = $<ImageProps & TypedObject & TextProps>;

const { node, isInline } = Astro.props;
---

{isInline ? (
    <Image {...node} />
) : (
    // <div class="insight-image">
    //     <Image {...node} />
    // </div>
    <Image {...node} />

)}