---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title="IKAMO[LOG] | About">
    <main data-taxi-view>
        <h1 class="hero text-light placeholder-title">ABOUT</h1>

    </main>
</MainLayout>

<script>
    import * as Taxi from '@unseenco/taxi'
    const taxi = new Taxi.Core()
</script>