---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title="IKAMO[LOG] | Gallery">
    <main data-taxi-view>
        <!-- <ul>
            {gallery.map((gallery) => (
            <li>
                <a href={'/gallery/' + gallery.slug.current} class="text-light">
                    {gallery.name}
                </a>
            </li>
            ))}
        </ul> -->
    </main>
</MainLayout>

<script>

</script>