---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title="IKAMO[LOG] | Gallery">
    <main data-taxi-view>
        <h1 class="hero text-light placeholder-title">GALLERY</h1>
    </main>
</MainLayout>