---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title="IKAMO[LOG] | Gallery">
    <main id="gallery-top" data-taxi-view>
        
    </main>
</MainLayout>

<script>

</script>