---
import MainLayout from '../layouts/MainLayout.astro'

---

<MainLayout title="IKAMO[LOG]">
    <main data-taxi-view>
            
    </main>
</MainLayout>

<script>
    import * as Taxi from '@unseenco/taxi'
    const taxi = new Taxi.Core()
</script>
