---
import MainLayout from '../layouts/MainLayout.astro'
import PrimaryButton from '../components/PrimaryButton.astro'
---

<MainLayout title="IKAMO[LOG]">
    <main data-taxi-view>
        <h1 class="hero text-light placeholder-title">HOME</h1>
    </main>
</MainLayout>

<script>


    import * as Taxi from '@unseenco/taxi'
    const taxi = new Taxi.Core()

</script>
