---

---
<div class="blob-container">
    <div id="blob" class="blob"></div>
</div>

<script>
    const ua = navigator.userAgent
    const blob = document.getElementById('blob')

    if (/(tablet|ipad|playbook|silk)|(android(?!.*mobi))/i.test(ua)) {
        blob.style.display = 'none'
    }

    if (
        /Mobile|iP(hone|od)|Android|BlackBerry|IEMobile|Kindle|Silk-Accelerated|(hpw|web)OS|Opera M(obi|ini)/.test(ua)) {
        blob.style.display = 'none'
    }

    const mousePos = {
        x: 0,
        y: 0,
    }

    window.addEventListener('mousemove', (e) => {
        mousePos.x = e.clientX
        mousePos.y = e.clientY

        blob.animate({
            left: `${mousePos.x}px`,
            top: `${mousePos.y}px`
        }, {duration: 10000, fill: 'forwards'})

    })
</script>