---

---

<div class="top-nav">
	<div class="flex">
		<a href="/" class="caption-bold text-light">
			IKAMO
			<br />[LOG]
		</a>
		<p class="navigation-light text-light-gray site-description">A DEDICATED SPACE TO SHARE MY LEARNINGS AND LIFE HIGHLIGHTS.</p>
	</div>
</div>

<nav class="mid-nav flex flex-column gap-8">
	<a href="/gallery" class="nav-link text-light-gray">GALLERY</a>
	<a href="/insights" class="nav-link text-light-gray">INSIGHTS</a>
	<a href="/about" class="nav-link text-light-gray">ABOUT</a>
</nav>

<div class="bottom-nav flex justify-between align-end">
	<p class="navigation-light text-light-gray">©2024</p>
	<div class="external-links flex justify-between align-end">
		<div class="socials flex flex-column gap-8">
			<a href="https://github.com/IKAMOworkshop" class="navigation-light text-light-gray" target="_blank" rel="noopener noreferrer">GITHUB</a>
			<a href="https://www.linkedin.com/in/jeremystudio/" class="navigation-light text-light-gray" target="_blank" rel="noopener noreferrer">LINKEDIN</a>
			<a href="https://www.instagram.com/jeremy._.studio/" class="navigation-light text-light-gray" target="_blank" rel="noopener noreferrer">INSTAGRAM</a>
		</div>
		<a href="" class="navigation-light text-light-gray" target="_blank" rel="noopener noreferrer">DESIGN WORK  ↗</a>
	</div>
</div>