---

---

<div class="top-nav">
	<div class="flex">
		<a id="home-button" href="/" class="caption-bold text-light">
			<h1>IKAMO</h1>
			<div class="caption-track">
				<div class="caption-move">
					<h1>[LOG]</h1>
					<h1>[HOME]</h1>
				</div>
			</div>
		</a>
		<p class="caption-light text-light-gray site-description">A DEDICATED SPACE TO SHARE MY LEARNINGS AND LIFE HIGHLIGHTS.</p>
	</div>
</div>

<div class="audio-toggle"></div>
<button id="audio-toggle" class="audio-toggle-overlay"></button>

<nav class="mid-nav flex-column gap-8">
	
	<a href="/gallery" class="navigation-light text-light flex align-center gap-8">
		<div class="active-arrow"></div>	
		<h1>[GALLERY]</h1>
	</a>

	<a href="/insights" class="navigation-light text-light flex align-center gap-8">
		<div class="active-arrow"></div>	
		<h1>[INSIGHTS]</h1>
	</a>
	<a href="/about" class="navigation-light text-light flex align-center gap-8">
		<div class="active-arrow"></div>	
		<h1>[ABOUT]</h1>
	</a>
</nav>

<div class="bottom-nav flex justify-between align-end">
	<p class="caption-light text-light-gray">©2024</p>
	<div class="external-links flex justify-between align-end">
		<div class="flex-column gap-8 socials">
			<a href="https://github.com/IKAMOworkshop" class="external-light text-light" target="_blank" rel="noopener noreferrer">
				<h1>GITHUB  ↗</h1>
			</a>
			<a href="https://www.linkedin.com/in/jeremystudio/" class="external-light text-light" target="_blank" rel="noopener noreferrer">
				<h1>LINKEDIN  ↗</h1>
			</a>
			<a href="https://www.instagram.com/jeremy._.studio/" class="external-light text-light" target="_blank" rel="noopener noreferrer">
				<h1>INSTAGRAM  ↗</h1>
			</a>
		</div>
		<a href="https://jeremystudio.cc/" class="external-light text-light" target="_blank" rel="noopener noreferrer">
			<h1>DESIGN WORK  ↗</h1>
		</a>
	</div>
</div>

<button id="mobile-nav-button" class="mobile-nav-button caption-bold text-light">[  MENU  ]</button>

<div id="mobile-nav"class="mobile-nav">
	<a href="/" class="mobile-nav-link text-light flex align-center gap-8">
		<h1>[  HOME  ]</h1>
	</a>

	<a href="/gallery" class="mobile-nav-link text-light flex align-center gap-8">
		<h1>[  GALLERY  ]</h1>
	</a>

	<a href="/insights" class="mobile-nav-link text-light flex align-center gap-8">	
		<h1>[  INSIGHTS  ]</h1>
	</a>
	<a href="/about" class="mobile-nav-link text-light flex align-center gap-8">
		<h1>[  ABOUT  ]</h1>
	</a>
</div>

<script>
	const mobileButton = document.getElementById('mobile-nav-button')
	const mobileNav = document.getElementById('mobile-nav')
	const mobileNavLink = document.getElementsByClassName('mobile-nav-link')
	let openState = false

	if (openState === false){
		mobileNav.style.opacity = '0'
		setTimeout(() => {
			mobileNav.style.display = 'none'
		}, 1000)
	}
	else if (openState === true){
		mobileNav.style.display = 'flex'
		setTimeout(() => {
			mobileNav.style.opacity = '1'
		}, 1)
	}

	mobileButton.addEventListener('click', () => {
		if(openState === false){
			openState = true
			mobileNav.style.display = 'flex'
			setTimeout(() => {
				mobileNav.style.opacity = '1'
			}, 1)
		} 
		else if (openState === true){
			openState = false
			mobileNav.style.opacity = '0'
			setTimeout(() => {
				mobileNav.style.display = 'none'
			}, 1000)
		}
	})

	for(let i = 0; i < mobileNavLink.length ; i++){
		mobileNavLink[i].addEventListener('click', () => {
			if(openState === false){
			openState = true
			mobileNav.style.display = 'flex'
			setTimeout(() => {
				mobileNav.style.opacity = '1'
			}, 1)
		} 
		else if (openState === true){
			openState = false
			mobileNav.style.opacity = '0'
			setTimeout(() => {
				mobileNav.style.display = 'none'
			}, 1000)
		}
		})
	}
</script>

<script data-taxi-reload>
	activePage = window.location.pathname
	navButton = document.querySelectorAll('.navigation-light')
	mobileLink = document.querySelectorAll('.mobile-nav-link')
	homeNavButton = document.getElementById('home-button')

	navButton.forEach(link => {
		if(link.pathname === activePage){
			link.classList.add('active-nav')
		}
		else{
			link.classList.remove('active-nav')
		}
	})

	mobileLink.forEach(link => {
		if(link.pathname === activePage){
			link.classList.add('active-nav')
		}
		else{
			link.classList.remove('active-nav')
		}
	})

	if(homeNavButton.pathname === activePage){
		homeNavButton.classList.add('active-nav')
	}
	else{
		homeNavButton.classList.remove('active-nav')
	}
</script>