---
import PrimaryButton from "./PrimaryButton.astro"
---
<div id="loader-container" class="loader-container flex align-center">
    <div id="loader-move" class="flex gap-48">
        <h1 class="loader-hero text-light loader-bracket">[</h1>
        <h1 id="loader-text" class="loader-hero text-light">00</h1>
        <h1 class="loader-hero text-light loader-bracket">]</h1>
    </div>

    <div id="audio-container" class="audio-container flex flex-column gap-100">
        <h1 class="loader-title text-light">CONTINUE WITH AUDIO</h1>

        <div class="audio-button-container flex gap-48 justify-center align-center">

            <div class="audio-button">
                <button id="without-audio" class="primary-button caption-bold text-light">
                    <div class="button-move">
                        NO
                        <span class="button-show-arrow">→</span>
                    </div>
                </button>
            </div>

            <div class="audio-button">
                <button id="with-audio" class="primary-button caption-bold text-light">
                    <div class="button-move">
                        YES
                        <span class="button-show-arrow">→</span>
                    </div>
                </button>
            </div>

        </div>
    </div>
</div>