---

---

<div id="progress-box" class="scroll-progress-container flex align-center">
    <div id="scroll-progress" class="scroll-progress-move flex justify-between">
        <h5 class="scroll-bracket caption-bold text-light">[</h5>
        <h5 class="scroll-bracket caption-bold text-light">SCROLL</h5>
        <h5 class="scroll-bracket caption-bold text-light">]</h5>
    </div>
</div>

<script>
    import VirtualScroll from 'virtual-scroll'
    const scroller = new VirtualScroll()

    const scrollProgress = document.getElementById('scroll-progress')
    const progressBox = document.getElementById('progress-box')

    let scrollContainer = document.getElementById('scroll')

    // Page Scroll
    let scroll = 0
    let scrollTarget = 0
    let scrollPosition = 0
    let containerSize = null
    if(scrollContainer){
        containerSize = scrollContainer.getBoundingClientRect().width
    }
    scroller.on(event => {
        scrollTarget = - event.deltaY
    })

    const tick = () => {
        if(!scrollContainer){
            scrollPosition = 0
        }
        // Reset Scroll
        const scrollProgress = document.getElementById('scroll-progress')
        const progressBox = document.getElementById('progress-box')
        scrollContainer = document.getElementById('scroll')

        scroll -= (scroll - scrollTarget) * .1
        scrollPosition += scroll * 1.2
        scrollTarget = 0

        scrollPosition = Math.max(0, Math.min(scrollPosition, containerSize - window.innerWidth))

        if(scrollContainer){
            const scrollPercentage = (scrollPosition / (containerSize - window.innerWidth)) * (progressBox.getBoundingClientRect().width - scrollProgress.getBoundingClientRect().width)

            scrollProgress.style.transform = `translateX(${scrollPercentage}px)`
            containerSize = scrollContainer.getBoundingClientRect().width
        }

        window.requestAnimationFrame(tick)
    }

    tick()
</script>